.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
	color: #fff;
	background-color: #A30936;
}
a:hover {
	text-decoration: none;
}
.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
	margin-top:-25px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}
.navbar-default{
	background-color: #ED9819;
	border-color: #ED9819;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
	font-size: 14px;
	transition: all 1s;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #A30936;
	color: #fff;
}
.btn-primary {
    color: #fff;
    background-color: #A30936;
    border-color: #A30936;
    transition: all 1s;
}
.btn-primary:hover,
.btn-primary:focus{
	color: #A30936;
	background-color: #FFFFFF;
	border-color: #A30936;
}
.header{
	top:0;
	z-index:1003;
	width:100%;
}
.dropdown-menu{
	background-color: #ED9819;
	color:#fff;
}
.dropdown-menu>li>a{
	color:#FFF;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{
	background-color: #A30936;
	color:#FFF;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
	background-color: #A30936;
	color:#FFF;
}
/*login*/
.login{
	width: 100%;
	background-color: #DDD7CB;
	padding: 15px 20px 25px 20px; 
}
/*login*/
.login{
	width: 100%;
	background-color: #DDD7CB;
	padding: 15px 20px 25px 20px; 
}
.menu-fixed {
	position:fixed;
	z-index:1000;
	top:25px;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
.decano1{
padding-top: 0%;
margin-top:  0px;
padding-left: 10px;
}

.decano1 h2 ,.decano1 h1{
	border-bottom: 2px solid #A30936;
	color: #A30936;
	text-align: center;
	font-family:'Josefin Sans', sans-serif;
	padding: 0%;
/-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
margin-left: 3%;
}
.decano1 h3, .decano1 h4{
	border-bottom: 2px solid #A30936;
	color: #A30936;
	font-family:'Lato', sans-serif;
	padding: 1%;
	font-family:'Josefin Sans', sans-serif;
}
.foto img{
	max-width: 100%;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
}
.foto{
	padding-top: 15px;
	padding-left: 3%;
	text-align: center;
}

.panel a{
	text-decoration: none;
	color: white;
}
.panels-fixed{
	position:fixed;
	z-index:10;
	top: 60px;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
.panels{
padding-right: 25px;
padding-left: 10px;
box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
.encabezado{
	background-color: #A30936;
	color: #EFECE7;
	text-align: center;
}
.encabezado img, .encabezado h1{
	display: inline-block;
}
.encabezado img{
	margin: 2% 5% 2% ;
}
body{
	background-color: #95917F;
	font-family: "Roboto", sans serif;
}
.container{
	background-color: white;
	padding-left: 0;
	padding-right: 0;
}
.direccion {
	margin-top: 10px;
	color: black;
	margin-bottom: 0%;
}
.direccion li, h4{
	list-style: none;
	padding-right: 0;
	padding: 3% 0 ;
	font-family: 'Josefin Sans', sans-serif; 
}
.direccion ul{
	padding-left: 0px;
}
.footer{
	text-align: center;
	padding-top: 3%;
	padding-bottom: 2%;
	color :#EFECE7;
	border: 1px solid #DDD7CB;
	background-color: #202121;
}
.footer li{
	display: inline-block;
	margin: 2%;
}
.panel {
	background-color: #ED9819;
	text-align: left;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: white;
}
.panel:active{
	background-color: #A30936 ;
}
.nav-pills{
	margin-top: 20px;
	margin-bottom: 20px;
}
.nav-pills li a{
	background-color: #ED9819;
	color:  white;
	padding:5px 15px;
	margin:13px;
	border-radius: 10px;
}
.nav-pills li a:hover{
	background-color: #A30936;
	color: white;
	}
	.nav-pills li a{
		margin-left: 0; 
	}
.contenido{
	padding-right: 0;
	padding-top: 0px;
}

.col{
	background-color: #DDD7CB;
}