.container-carrera-top{
	background: url(../images/computacion4.jpg) no-repeat;
	background-size: cover;
	height: 300px;
	padding: 50px 0;
	position: relative;
}
.container-carrera-top .carrera{
	/*background-color: rgba(255,255,255,0.06);
	border-color: rgba(255,255,255,0.1);
	color: #fff;
	width: 300px;
	height: 200px;*/
    background-color: rgba(153, 9, 54, 0.56);
    color: white;
    width: 259px;
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 0 20px;

}